#toggle-button {
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
}

#toggle-button:focus {
    outline: none;
}