#toggle-button {
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(44,94,143);
    border: none;
    padding: 10px 25px;
    color: white;
    border-radius: 25px;
}

#toggle-button:focus {
    outline: none;
}

#toggle-button:hover, #toggle-button:active {
    background-color: rgb(20,57,95)
}

@media screen and (max-width: 32px) {
    #toggle-button {
        font-size: 12px;
    }
}
