#portfolio .portfolio-row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

#portfolio {
    width: 90%;
}

.modal {
    max-height: 85vh;
}

.modal-header .close {
    padding: 1rem 1rem 1rem 0;
    margin: -1rem -1rem -1rem 0;
    position: absolute;
    right: 20px;
}

#modal-img-container img {
    max-width: 100%;
}

.modal-body {
    margin: auto;
    padding: 0px 1rem;
}

.modal-header h4, .modal-footer p {
    margin: auto;
    text-align: center;
    color: black;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-footer p {
    font-size: smaller;
    font-style: italic;
}

@media screen and (max-width: 480px) {
    
    #portfolio .row {
        margin-top: 25px;
    }
}