.modal-header {
    padding: .5rem;
}

.modal-header .close {
    margin: -1rem -1rem -1rem 0;
    position: absolute;
    right: 20px;
}

#modal-img-container img {
    max-width: 100%;
    padding: 0px 10px;
}

.modal-body {
    margin: auto;
    padding: 5px;
}

.modal-header h4, .modal-footer p {
    margin: auto;
    text-align: center;
    color: black;
}

.modal-header, .modal-footer {
    border: none;
}


.modal-footer {
    padding-top: 0px;
    font-size: smaller;
    font-style: italic;
}