.jumbotron {
    background-color: transparent;
    text-transform: uppercase;
    padding-top: 75px;
    margin-bottom: 250px;
}
.display-4 {
    font-weight: light;
    font-size: 13vw;
    color: #B1D8FF;
    line-height: .85em;
}
.lead {
    font-size: 3vw;
    letter-spacing: .10em;
    margin-top: 25px;
    color: white;
    text-align: right;
}


.jumbotron .container {
    width: 75%;
}