.contact .fab, .contact .fas {
    font-size: 3em;
    margin: 0px 25px;
}

.contact .row a {
    color: white;
    text-align: center;
}

.contact .fab:hover, .contact .fas:hover {
    transform: scale(1.5);
}

.contact-icons {
    margin: auto;
}