nav {
     background-color: transparent;
}
.navbar-brand {
     position: absolute;
     top: 10px;
}
.navbar-nav {
     flex-direction: column;
}

.navbar-collapse {
     position: absolute;
     top: 10px;
     right: 25px;
}

.navbar-nav .nav-item {
     display: block;
}

.navbar-light .navbar-toggler {
     border: none;
     color: none;
}

.navbar-light .navbar-toggler-icon {
    border: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

@media screen and (min-width: 768px) {
.navbar-expand-md .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
};
}

@media screen and (max-width: 425px) {
     .navbar-collapse {
          right: 10px;
      }
}


